.interest {
  &__title {
    padding: 10px 0px;
    justify-content: center;
    justify-items: center;
  }

  &__typography {
    font-family: "Muli", sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.8rem !important;
  }

  &__chip {
    margin-top: 5px !important;
  }

  &__moment {
    color: #f50057;
    font-family: "Muli", sans-serif !important;
    font-weight: 600 !important;
    font-size: 1.5rem !important;
  }
}

.headInterest {
  &__cell {
    font-family: "Muli", sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.3rem !important;
    color: #00524e !important;
    line-height: 0.5rem !important;
    text-align: center !important;
  }

  &__cell p {
    font-style: italic;
    font-size: 1rem !important;
  }
}

.bodyInterest {
  &__row:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__cell {
    padding: 13px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: #1c2e36;
    text-align: center !important;
  }

  &__term {
    font-weight: 700;
    text-align: start;
  }
}
