.home {
  padding: 35px 0px;

  &__row {
    display: flex !important;
  }

  &__item {
    position: relative;
    flex: 1;
  }

  &__paper {
    height: calc("100vh - 70px");
  }

  &__component {
    transition: all 0.3s ease-in-out;
  }
}
