@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("flUhRq6tzZclQEJ-Vdg-IuiaDsNc"),
    url(../../../../fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.MuiPaper-elevation2 {
  border-radius: none !important;
  box-shadow: none !important;
}

.table {
  width: 100%;
}

.headTable {
  padding: 8px 16px;
  background-color: #fff;

  &__title {
    color: #00524e;
    text-transform: uppercase;
    font-weight: 600 !important;
    font-family: "Muli", sans-serif !important;
  }
}

.editComponentPassword {
  background-color: rgba(0, 0, 0, 0.06);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 4.5px 8px;
  max-width: 60%;
  font-family: "Muli", sans-serif !important;
}
.editComponentPassword:focus {
  outline: none;
}
