.iconAdd {
  color: #daa520;
}

.sourceFormAdd {
  position: relative;

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__avatar {
    margin: 5px auto;
    background-color: #daa520 !important;
  }

  &__title {
    margin: 16px 0 !important;
    text-align: center;
    font-family: "Muli", sans-serif !important;
    font-weight: 600 !important;
    color: #00524e;
  }

  &__input {
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    text-transform: none !important;
  }

  &__button {
    background-color: #00524e !important;
    color: #fff !important;
    margin: 16px 0px !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    text-transform: none !important;
  }
}
