.appbar {
  background-color: #fff !important;
  padding: 0 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;

  &__toolbar {
    min-height: 50px !important;
  }

  &__logo {
    max-width: 100px;
  }

  &__title {
    text-align: center;
    flex-grow: 1;
    color: #00524e !important;
    font-weight: 600 !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1.3rem !important;
    text-transform: uppercase;
  }

  &__menu {
    flex-grow: 1;
  }

  &__button {
    border-radius: 100rem;
    padding: 6px 12px;
    font-family: "Muli", sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    box-shadow: 0 0 6px 0 rgba(29, 4, 50, 0.5);
    border: solid 2px transparent;
    background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 0)
      ),
      linear-gradient(45deg, #4caf50, #ffcd38);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
    cursor: pointer;
    transition: 0.3s all;
  }

  &__button:hover {
    box-shadow: none;
  }
}

.menu {
  margin: 0px;
  padding: 0px 20px;

  &__navLink {
    position: relative;
    margin-left: 5px;
    padding: 13.4px 20px;
    float: left;
    color: #1c2e36;
    font-size: 1rem;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    font-family: "Muli", sans-serif !important;
    list-style: none;
  }

  &__navLink:hover {
    border-color: #00524e;
    background-color: #f8f8f8;
    transition: 0, 3s all;
    color: #00524e;
  }

  &__navLink.active {
    border-color: #00524e;
    background-color: #f8f8f8;
    transition: 0, 3s all;
    color: #00524e;
  }
}
