.createUser {
  position: relative;

  &__progress {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  &__label {
    font-family: "Muli", sans-serif !important;
    font-size: 0.9rem !important;
  }
}
.MuiFormControl-marginNormal {
  margin-top: 0px !important;
  margin-bottom: 8px !important;
}
