.deposit {
  &__title {
    padding: 10px 0px;
    text-align: center;
  }

  &__title h2 {
    margin: 0;
    font-weight: 800;
    font-size: 1.8rem;
    line-height: 1.5;
  }

  &__title h5 {
    margin: 0;
    font-weight: 500;
    font-size: 0.9rem;
    font-style: italic;
    line-height: 1.5;
  }

  &__table {
    margin-top: 1rem;
  }
}

.headDeposit {
  &__cell {
    padding: 8px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.3rem !important;
    color: #1c2e36 !important;
    line-height: 0.5rem !important;
    text-align: center !important;
  }

  &__cell p {
    font-style: italic;
    font-size: 1rem !important;
    color: #666666;
  }
}

.bodyDeposit {
  &__row:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__cell {
    padding: 12.9px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: #1c2e36;
    text-align: center !important;
  }

  &__term {
    font-weight: 700;
    text-align: start;
  }
}
