.sourceForm {
  &__label {
    margin-top: 10px;
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
    color: #1c2e36 !important;
  }

  &__radio {
    font-family: "Muli", sans-serif !important;
  }

  &__input input {
    padding: 18px 16px !important;
  }
}
