.exchangeRate {
  &__title {
    padding: 10px 0px;
    text-align: center;
  }

  &__typography {
    font-family: "Muli", sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.8rem !important;
  }
}
.notification {
  padding: 0px !important;
  justify-content: center;
  justify-items: center;

  &__hourd {
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    font-style: italic;
  }

  &__date {
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    font-style: italic;
  }

  &__number {
    font-family: "Muli", sans-serif !important;
    font-size: 1rem !important;
    font-style: italic;
  }
}

.headExchangeRate {
  &__cell {
    padding: 8px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-weight: 800 !important;
    font-size: 1.3rem !important;
    color: #00524e !important;
    line-height: 0.5rem !important;
    text-align: center !important;
  }

  &__cell p {
    font-style: italic;
    font-size: 1rem !important;
  }
}

.bodyExchangeRate {
  &__row:nth-of-type(odd) {
    background-color: #ebedf0;
  }

  &__cell {
    padding: 13px 16px !important;
    font-family: "Muli", sans-serif !important;
    font-size: 1.2rem !important;
    font-weight: 600 !important;
    color: #1c2e36;
    text-align: center !important;
  }

  &__currency {
    display: flex;
    text-align: center;
    font-weight: 700;
  }

  &__ensign {
    margin: 4px 8px 0px 0px;
    width: 26px;
    height: 20px;
    border-radius: 2px;
  }
}
